<!-- ------------------ item (in list) template: view list item SMALL ---------------------------------- -->
<script id="view_list_item_small" class="partial" type= "text/html">
<div>
    <div class="item item_small {{classes}}" title="{{descr}}" data-searchable="{{searchable}}" data-link="{{link}}" data-mime="{{mime}}"  data-title="{{title}}" {{#data}} data-{{k}}="{{v}}" {{/data}} >
        <i class="show_on_hover btn small_icon glyphicon glyphicon-edit" onclick="UI.find_item_from_child(this).edit();false;" ></i>&nbsp;
        <i class="show_on_hover btn small_icon glyphicon glyphicon-eye-open {{^is_data}}disabled{{/is_data}}" onclick="window.location =  '/d' + UI.find_item_from_child(this).get_ref(); false;" ></i>
        <span class="item_touch">
            <img src="/static/mime/{{mime}}.svg" class="small_icon item_caption item_stuff"/><span title="{{link}}" class="item_stuff item_caption">{{title}}</span>
        </span>
    </div>
</div>
</script>
<!-- ------------------ item (in list) template: view list item BIG ---------------------------------- -->
<script id="view_list_item_big" class="partial" type= "text/html">
<div>
    <div class="item item_big {{classes}}" title="{{descr}}" data-searchable="{{searchable}}" data-link="{{link}}" data-mime="{{mime}}"  data-title="{{title}}" data-editable="{{editable}}" {{#data}} data-{{k}}="{{v}}" {{/data}} >
        <div class="pull-left item_buttons">
<!-- separate sets of 2 icons by a br/ if you have many actions -->
            <br/>
            <i title="Edit" class="show_on_hover btn small_icon glyphicon glyphicon-edit" onclick="UI.find_item_from_child(this).edit();false;" ></i>&nbsp;
            <br/>
            <i title="View" class="show_on_hover btn small_icon glyphicon glyphicon-eye-open {{^is_data}}disabled{{/is_data}}" onclick="window.location =  UI.find_item_from_child(this).get_raw_ref();" ></i>
        </div>
        <span class="item_touch">
            <img src="/static/mime/{{mime}}.svg" class="huge_icon item_caption item_stuff"/><span title="{{link}}" class="item_stuff item_caption">{{title}}</span>
        </span>
    </div>
</div>
</script>
