<!-- ------------------ modal template: question ---------------------------------- -->
<script id="question" type="text/html">
<div class="modal fade" id="question_popup">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><img class="big_icon" src="/static/mime/{{mime}}.svg"/> {{title}}</h4>
        </div>
<!-- Editable fields, quite ugly, should come to another template or be more generic -->
        <div class="editable" data-cont="{{item.cont}}" data-link="{{item.link}}" data-mime="{{item.mime}}">
            {{#edit}}
            <div class="row editable-property" data-name="{{name}}" data-type="{{type}}" />
            {{/edit}}
        </div>
<!-- Body -->
        <div class="modal-body">
            <p>{{{body}}}</p>
            <p class="text-right pull-right text-muted">{{footnote}}</p>
        </div>
        <div class="modal-footer">
            {{#buttons}}
                {{#onclick}}
                <button onclick="{{onclick}}" class="btn {{class}}"> {{name}}</button>
                {{/onclick}}
                {{^onclick}}
                <a href="{{href}}" class="btn btn-primary"> {{name}}</a>
                {{/onclick}}
            {{/buttons}}
            <a href="#" data-dismiss="modal" class="btn btn-primary"> Close</a>
        </div>
      </div>
    </div>
</div>
</script>
