<div style="background: rgba(255, 255, 255, 0.2);" class="item span12" data-searchable="name surname nickname phone.fixe email" data-mime="people">
    <span class="item_stuff item_caption span2"><b>{{name}}</b></span>
  <span class="item_stuff item_caption span1">{{surname}}</span>
  <span class="item_stuff item_caption span1">{{nickname}}</span>
  <span class="item_stuff item_caption span2"><i class="icon-envelope" /> <a href="mailto:{{email}}">{{email}}</a></span>
      <span class="item_stuff item_caption span2"><i class="icon-phone" /> {{phones.fixe}}</span>
          <span class="item_stuff item_caption span2"><i class="icon-bullhorn" />{{phones.gsm}}</span>
</div>
