<div style="background: rgba(255, 255, 255, 0.2);" class="item span12" data-link="{{name}} {{surname}} {{nickname}} {{phones.fixe}}" data-mime="people">
    <span class="item_stuff item_caption span2"><b>{{name}}</b></span>
  <span class="item_stuff item_caption span1">{{surname}}</span>
  <span class="item_stuff item_caption span1">{{nickname}}</span>
  <span class="item_stuff item_caption span2"><small>Fixe:</small> {{phones.fixe}}</span>
  <span class="item_stuff item_caption span2"><small>Mobile:</small> {{phones.gsm}}</span>
</div>
