// vim: filetype=scss :
// BEGIN THEME
// -----------

@import "elements.less";

@import "variables.less";

@BG_COLOR: rgb(237, 234, 245);


body {
    background-color: @BG_COLOR;
}

.ui-pnotify-history-container {
    margin-right: 3em;
    position: fixed;
    .basicshadow(10px, 0.3);
}
.brand {
    z-index: 1;
}

iframe {
     background: rgba(255,255,255,0.9);
     margin-bottom: 1ex;
}

.horizgradient(@col1: #000000, @col2: #FFFFFF) {
    background:-o-linear-gradient(top,@col1,@col2);
    background:-moz-linear-gradient(top,@col1,@col2);
    background:-webkit-gradient(linear,left top,left bottom,from(@col1),to(@col2));
    background:-webkit-linear-gradient(top,@col1,@col2);
}

.basicshadow(@val: 5px, @opa: 0.7) {
    box-shadow: 0 1px @val 1px rgba(0, 0, 0, @opa);
}

.progress {
    width:0%;
    overflow:hidden;
    height:40px;
    display:inline-block;
    vertical-align:middle;
    color:#FFF;
    text-align:right;
    text-shadow:1px 1px 0 #000;
    .horizgradient(#888888, #333333);
    -o-transition-property:width;
    -o-transition-duration:.5s;
    -moz-transition-property:width;
    -moz-transition-duration:.5s;
    -webkit-transition-property:width;
    -webkit-transition-duration:.5s;
    height: 2ex;
    margin: 0 0 1ex 0;
    padding: 0;
}
.listtitle {
    color: #BAB;
    margin-right: 1ex;
    font-size: 100%;
}
.item.highlighted {
    background: #F8B744 !important;
    color: black;
    .transition(background .1s linear) !important;
    .transition(color .1s linear) !important;
    &:hover {
        background: #FFE7A4 !important;
        .transition(background 5s linear) !important;
    }
}

.show_on_hover {
    opacity: 0;
    .transition(opacity 1s linear);
}

.item {
    list-style-type: none;
//    background: #ccf;
    .border-radius(3px, 3px, 3px, 3px);
    margin: .3ex;
    padding-left: 1ex;
    cursor: pointer;
    .transition(background .5s linear);
    &:hover {
        background: white !important;
        color: black;
        .transition(background .5s linear) !important;
        .transition(black .5s linear) !important;

        .show_on_hover {
            opacity: 1;
        }

    }
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.other {
    background: #ffa;
}

.autodim {
    .qq-upload-button {
        color: #666;
        cursor: pointer;
        text-align: center;
        .transition-duration(1s);
        font-size: 130%;
        font-weight: bold;
        &:hover {
            color: white;
            background: #122;
        }
    }
}
.dragged {
    background: #555 !important;
    color:  #ffe !important;
}
a.brand {
    .transition-duration(1s);
    .border-radius(15px, 15px, 15px, 15px);
}
.hot {
    background-color: #ecc !important;
    .transition-duration(1s);
    color: black;
}
img.big_icon {
    width: 2.5em;
    height: 2.5em;
}
img.small_icon {
    width: 2em;
    height: 2em;
}

.animClass {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

// Tweak your current theme here, or comment-out the predefined theme from settings
// and start fresh below.

// isotope
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#addsearch_form {
    margin-bottom: 0;
}

.navbar-inner {
    .basicshadow(15px) !important;
}

@media (min-width: @navbarCollapseWidth) {
    .maincontainer {
        min-height: 800px;
    }
    #contents {
        margin-top: 3em;
        height: 100%;
        z-index: 0;
        .items {
            z-index: 1;
        }
    }
    #question_popup.modal {
        width: 80%;
        margin-left: -40%;
        padding: 1ex;
    }
}
.background_text {
    color: rgba(0, 0, 0, 0.3);
    text-shadow:1px 1px 0 #fff;
    font-variant:small-caps;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.alt_title {
    font-variant: small-caps;
    .border-radius(30px, 0px, 3px, 3px);
    margin-bottom: -3px;
    color: #555;
    text-shadow:1px 1px 1px #fff;
    background: @navbarLinkColor;
    padding-left: 1ex;
    width: 66%;
}
.file-input-name {
    word-wrap: break-word;
    display: block;
}
#epiceditor {
    min-height: 40em;
}

#shelve.folded {
    right: -31ex !important;
    .transition(1s);
}
#shelve {
    position: fixed;
    margin: auto;
    top: 8em;
    right: 1em;
    width: 30ex;
    .transition(1s);
    .basicshadow(10px, 0.3);
    .border-radius(3px, 3px, 3px, 3px);
    padding: 1ex;
    button , .file-input-wrapper {
        .basicshadow(8px, 0.3);
        margin-top: 1ex;
    }
    z-index: 5;
    #up_panel {
        overflow: clip;
    }
    background-color: @BG_COLOR/2;
    border: outset 1px @orange*2;
}

a.file-input-wrapper.btn.row-fluid {
    width: 192px;
}
