// vim: filetype=scss :
// BEGIN THEME
// -----------

@import "elements.less";
@import "bootstrap.less";
@import "bootstrap-glyphicons.less";


body {
    background-color: @body-bg;
}

.maincontainer {
    padding-top: 6ex;
}

.brand {
    z-index: 1;
}

iframe {
     background: rgba(255,255,255,0.9);
     margin-bottom: 1ex;
}

.horizgradient(@col1: #000000, @col2: #FFFFFF) {
    background:-o-linear-gradient(top,@col1,@col2);
    background:-moz-linear-gradient(top,@col1,@col2);
    background:-webkit-gradient(linear,left top,left bottom,from(@col1),to(@col2));
    background:-webkit-linear-gradient(top,@col1,@col2);
}

.basicshadow(@val: 5px, @opa: 0.7) {
    box-shadow: 0 1px @val 1px rgba(0, 0, 0, @opa);
}

.progress {
    width:0%;
    overflow:hidden;
    height:40px;
    display:inline-block;
    vertical-align:middle;
    color:#FFF;
    text-align:right;
    text-shadow:1px 1px 0 #000;
    .horizgradient(#888888, #333333);
    -o-transition-property:width;
    -o-transition-duration:.5s;
    -moz-transition-property:width;
    -moz-transition-duration:.5s;
    -webkit-transition-property:width;
    -webkit-transition-duration:.5s;
    height: 2ex;
    margin: 0 0 1ex 0;
    padding: 0;
}
.listtitle {
    color: #BAB;
    margin-right: 1ex;
    font-size: 100%;
}
.item.highlighted {
    background: #F8B744 !important;
    color: black;
//     .transition(.1s linear) !important;
    &:hover {
        background: #FFE7A4 !important;
//         .transition(background 5s linear) !important;
    }
}

.show_on_hover {
    opacity: 0;
//     .transition(0.2s linear);
}

.item {
    list-style-type: none;
//    background: #ccf;
    .border-radius(3px, 3px, 3px, 3px);
    margin: .3ex;
    padding-left: 1ex;
    cursor: pointer;
    .transition(.5s linear);
    &:hover {
        background: #FFE7A4;
        color: black;
        .transition(.5s linear) !important;
        .show_on_hover {
            opacity: 1;
        }
    }
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.other {
    background: #ffa;
}

.autodim {
    .qq-upload-button {
        color: #666;
        cursor: pointer;
        text-align: center;
        .transition-duration(1s);
        font-size: 130%;
        font-weight: bold;
        &:hover {
            color: white;
            background: #122;
        }
    }
}
.dragged {
    background: #555 !important;
    color:  #ffe !important;
}
a.brand {
    .transition-duration(1s);
    .border-radius(15px, 15px, 15px, 15px);
}
.hot {
    background-color: #ecc !important;
    .transition-duration(1s);
    color: black;
}
img.huge_icon {
    width: 5em;
    height: 5em;
}
img.big_icon {
    width: 2.5em;
    height: 2.5em;
}
img.small_icon {
    width: 2em;
    height: 2em;
}

.animClass {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

// Tweak your current theme here, or comment-out the predefined theme from settings
// and start fresh below.

// isotope
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#addsearch_form {
    margin-top: 1ex;
}

.navbar {
    .basicshadow(15px) !important;
}

.file-input-name {
    word-wrap: break-word;
    display: block;
}
#epiceditor {
    min-height: 40em;
}
#shelve.folded {
    right: -29ex !important;
    .transition(1s);
}
#shelve {
    position: fixed;
    margin: auto;
    top: 8em;
    right: 1em;
    width: 30ex;
    .transition(1s);
    .basicshadow(10px, 0.3);
    .border-radius(3px, 3px, 3px, 3px);
    padding: 1ex;
    button , .file-input-wrapper {
        .basicshadow(8px, 0.3);
        margin-top: 1ex;
    }
    z-index: 5;
    #up_panel {
        overflow: clip;
    }
    background-color: @body-bg/2;
    border: outset 1px #DDD;
}

/* Fine tuning */

.my-form-control { // NO width: 100%;
  display: block;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @gray;
  vertical-align: middle;
  background-color: @input-bg;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();


}
.ui-pnotify .picon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
}
.ui-pnotify-title {
    line-height: 17px;
    min-height: 17px;
}

.ui-pnotify-history-container {
//     margin-right: 5em;
//     position: fixed;
    text-align: center;
    .basicshadow(10px, 0.3);
}

@media (max-width: @screen-small) {
    #contents {
        margin-left: 1ex !important;
        margin-top: 3em;
    }
    #addsearch_form {
        width: 100%;
        input.my-form-control {
            width: auto;
        }
    }
}
@media (max-width: @screen-medium) and (min-width: @screen-small) {
    #contents {
        margin-left: 1ex !important;
    }
}
@media (min-width: @screen-large) {
    #addsearch_form {
        width: 55%;
    }
    input.my-form-control {
        width: 50ex;
    }
}
@media (max-width: @screen-large) {
    .ui-pnotify-history-container {
        right: auto !important;
        left: 1ex !important;
    }
}

@media (max-width: @screen-medium) and (min-width: @screen-small) {
    .navbar {
        .container {
            max-width: 100% !important;
        }
        #addsearch_form {
            padding: 0;
        }
    }
}
