// vim: filetype=scss :
// BEGIN THEME
// -----------

@import "Kickstrap/themes/cyborg/variables.less";		
@import "Kickstrap/themes/cyborg/bootswatch.less";		
@import "/static/elements.less";

body {
    background-attachment:fixed;
}

li.item.highlighted {
    background: #F8B744 !important;
    color: black;
    .transition(background .1s linear) !important;
    .transition(color .1s linear) !important;
    &:hover {
        background: #FFE7A4 !important;
        .transition(background .5s linear) !important;
    }
}

li.item {
    list-style-type: none;
//    background: #ccf;
    .border-radius(3px, 3px, 3px, 3px);
    margin: .3ex;
    padding-left: 1ex;
    cursor: pointer;
    .transition(background .5s linear);
    &:hover {
        background: white !important;
        color: black;
        .transition(background .5s linear) !important;
        .transition(black .5s linear) !important;
    }
}

aside.well > .nav-list > li {
    &:hover {
    }
}
.other {
    background: #ffa;
}

.autodim {
    color: #666;
    cursor: pointer;
    text-align: center;
    .transition-duration(1s);
    font-weight: bold;
    font-size: 130%;
    &:hover {
        color: white;
    }
}
.dragged {
    background: #555 !important;
    color:  #ffe !important;
}
.hot {
    background: #ecc;
    color: black;
}

img.big_icon {
    width: 2.5em;
    height: 2.5em;
}
img.small_icon {
    width: 2em;
    height: 2em;
}

.animClass {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

// Tweak your current theme here, or comment-out the predefined theme from settings
// and start fresh below.
